pbr==3.1.1
six==1.10.0
oslo.config==5.2.0
oslo.i18n==3.19.0
oslo.utils==3.36.0
ipaddress==1.0.19
-e git+https://github.com/phantomii/restalchemy.git@master#egg=restalchemy

# requirements for RestAlchemy
-e git+https://github.com/phantomii/bazooka.git@master#egg=bazooka
-e git+https://github.com/phantomii/pyretries.git@master#egg=pyretries
